* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #f1f4f6;
  margin: 30px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body>section {
  display: grid;
  grid-template-columns: 23% 77%;
  height: 95vh;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

/* Aside de contactos*/
aside {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #dee2e6;
  padding: 20px;
}

.search {
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 100%;

}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.contact:hover {
  background-color: #e9ecef;
  ;
}

.contact img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.contact h4 {
  font-size: 15px;
  font-weight: bold;
}

.contact p {
  font-size: 12px;
}



.status {
  color: gray;
  font-weight: 600;
}

.status::before {
  content: "â—";
  color: red;
  margin-right: 2px;
  font-size: 20px;
}

.status.online::before {
  color: green;
}

.status.offline::before {
  color: red;
}

/* Estilos para el main chat*/

main.chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  background-color: #ffffff;
}

main.chat>section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #dee2e6;
}

.chat-header {
  display: flex;
  align-items: flex-start;
}

.chat-header .chat-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.chat-contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-contact h3 {
  color: black;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.chat-contact p {
  color: black;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.chat-actions {
  display: flex;
  gap: 8px;
  padding: 10px;
}

.chat-actions button {
  width: 32px;
  height: 32px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  padding: 16px;
  overflow: hidden
}

.message {
  background-color: #e9ecef;
  align-self: flex-start;
  border-radius: 10px;
  position: relative;
  max-width: 60%;
  padding: 10px 15px;
  line-height: 1.4;
}

.message-send {
  align-self: flex-end;
  background-color: #dff4fb;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.message-received {
  align-self: flex-start;
  background-color: #e9ecef;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.timestamp {
  font-size: 0.7rem;
  color: #6c757d;
  font-weight: 600;
}

.chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #ffffff;

}

.chat-footer input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.chat-footer button {
  width: 38px;
  height: 38px;
}